In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C://Users//GIEWK//OneDrive - Bayer//Personal Data//Abhishek Bhalotia//pythonnotes//June2025//feasibility_data.csv")

In [4]:
df

   Site_ID Country Screened  Randomized      Status
0      101      IN       20          10      Active
1      102      US       25          12   Completed
2      103      DE       18           5  Terminated
3      104      FR        -           8      Active
4      105      IN       15           7   Completed

In [5]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.dtypes

Site_ID        int64
Country       object
Screened      object
Randomized     int64
Status        object
dtype: object

In [9]:
df['Screened'] = df['Screened'].replace('-',0)

In [10]:
df.dtypes

Site_ID        int64
Country       object
Screened      object
Randomized     int64
Status        object
dtype: object

In [11]:
df

   Site_ID Country Screened  Randomized      Status
0      101      IN       20          10      Active
1      102      US       25          12   Completed
2      103      DE       18           5  Terminated
3      104      FR        0           8      Active
4      105      IN       15           7   Completed

In [13]:
df['Screened'] = df['Screened'].astype(int)

In [14]:
df

   Site_ID Country  Screened  Randomized      Status
0      101      IN        20          10      Active
1      102      US        25          12   Completed
2      103      DE        18           5  Terminated
3      104      FR         0           8      Active
4      105      IN        15           7   Completed

In [15]:
df.dtypes

Site_ID        int64
Country       object
Screened       int32
Randomized     int64
Status        object
dtype: object

In [16]:
def sf_rate(Screened,Randomized):
    sf_rate = ((Screened - Randomized)/Screened.replace(0, 1)) *100
    sf_rate = sf_rate.round(2)
    return sf_rate

In [17]:
df['sf'] = sf_rate(df['Screened'], df['Randomized'])

In [18]:
df

   Site_ID Country  Screened  Randomized      Status      sf
0      101      IN        20          10      Active   50.00
1      102      US        25          12   Completed   52.00
2      103      DE        18           5  Terminated   72.22
3      104      FR         0           8      Active -800.00
4      105      IN        15           7   Completed   53.33

In [20]:
df.shape[0]

5

In [19]:
print(f"Total Sites: {df.shape[0]}")
print(f"Average Screened: {df['Screened'].mean():.2f}")
print(f"Average Randomized: {df['Randomized'].mean():.2f}\n")

Total Sites: 5
Average Screened: 15.60
Average Randomized: 8.40

In [21]:
for _, row in df.iterrows():
    print(f"Site {row['Site_ID']} ({row['Country']}) has a screen failure rate of {row['sf']}%")

Site 101 (IN) has a screen failure rate of 50.0%
Site 102 (US) has a screen failure rate of 52.0%
Site 103 (DE) has a screen failure rate of 72.22%
Site 104 (FR) has a screen failure rate of -800.0%
Site 105 (IN) has a screen failure rate of 53.33%

In [23]:
df.to_csv("C://Users//GIEWK//OneDrive - Bayer//Personal Data//Abhishek Bhalotia//pythonnotes//June2025//cleaned_feasibility_summary.csv", index=False)